.footer{
    margin-top: 100px;
    padding: 100px 0;
    background-color: rgba(0, 12, 51, 0.781);
}
.footer p{
    color: rgba(255, 255, 255, 0.719);
    
}
.footer h5{
    color: white;
}

.footer ul li {
    list-style: none;
    text-align: left;
    margin: 10px 0;
}
.footer ul li  a{
text-decoration: none;
color: rgb(240, 112, 112);
font-weight: 600;
}
.footer .sous{
    margin: 100px 0;
}