<section class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h5>ABOUT WORKOUT</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
          eligendi.
        </p>
      </div>
      <div class="col-12 col-md-4">
        <h5>LINK</h5>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Classes</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Trainer</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <h5>SUBSCRIBE</h5>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos animi,
          iste nesciunt dicta eligendi beatae!
        </p>
        <div class="input-group centre">
            <input class="form-control" placeholder="Email" />
            <button class="btn btn-dark" type="button" class="btn btn-danger">SUBSCRIBE</button>
            

          </div>
      </div>

      <div class="row sous">
        <div class="col-12">
            <p class="text-center">Copyryght @ 2023 All rights reserveds | This template is made with by Colorib</p>
            
        </div>
      </div>
    </div>
  </div>
</section>
