.forme{
    margin-top: 100px;

}
.forme h1{
    color: rgb(241, 73, 73);
    font-weight: 700;
}
.forme p{
    color: rgba(128, 128, 128, 0.644);
    font-size: 18px;
    font-weight: 500;
}
.forme input{
    border: 2px solid gray;
}
.forme textarea{
    border: 2px solid gray;  
}