<section class="forme" id="forme">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="justify-content align-items-center">
          <p class="text-center">Get In Touch</p>
          <h1 class="text-center">Contact Us</h1>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
            amet consectetur,
          </p>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 mx-auto my-5">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="First name"
              />
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Last name"
              />
            </div>
          </div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Subject"
            />
          </div>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Email"
            />
          </div>
          <div class="mb-3">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              placeholder="Write your message here."
              rows="10"
            ></textarea>
          
        </div>
        <div class="col-12 col-md-6">
          <button class="btn btn-danger px-5 py-2">Send message</button>
        </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
