.sheldule{
    margin-top: 100px;

}
.sheldule h1{
    color: rgb(241, 73, 73);
    font-weight: 700;
}
.sheldule p{
    color: rgba(128, 128, 128, 0.644);
    font-size: 18px;
    font-weight: 500;
}
.sheldule .nav-pills{
 background-color: rgba(214, 212, 212, 0.678);
    color: white;
    display: flex;
    justify-content: space-between;
   
   
}
.sheldule .nav-item .active{
background-color: rgb(241, 73, 73); 
color: white;
/* padding: 0 40px; */
transition: all 1s;

}

.sheldule .nav-link{
   color: rgb(241, 73, 73) ;
   font-size: 18px;
   padding: 5px 70px;
   font-weight: 700;
   border: none;
}

.sheldule{
    margin-top: 100px;

}
.sheldule h1{
    color: rgb(241, 73, 73);
    font-weight: 700;
}
.sheldule p{
    color: rgba(128, 128, 128, 0.644);
    font-size: 18px;
    font-weight: 500;
}
img{
    width: 50%;
    height: 99px;
}
.sheldule h5{
    font-size: 20px;
 }
 .sheldule .card{
    border: none;
 }
  
 



 @media (max-width: 400px) {
    .sheldule .nav-link{ 
        font-size: 18px;
        padding: 5px 0px;}
} 
@media (max-width: 575.98px) {
    .sheldule h5{
       font-size: 16px;
    }
    .sheldule p{
        color: rgba(128, 128, 128, 0.644);
        font-size: 14px;
        font-weight: 500;
    }
    .sheldule .nav-link{ 
        font-size: 18px;
        padding: 5px 0px;}
   
  
    
    @media (max-width: 767.98px) { }
    
    
    @media (max-width: 991.98px) {
       
    }
    
    @media (max-width: 1199.98px) { 
       
     }
    
    
    @media (max-width: 1399.98px) {  }
     
    
}