<section class="sheldule" id="Sheldule">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="justify-content align-items-center">
                <p class="text-center">Fitness Shed</p>
                <h1 class="text-center">Shedule</h1>
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                  amet consectetur,
                </p>
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                  amet consectetur,
                </p>
                </div>

        </div>
        <div class="col-12 my-5">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-m-tab" data-bs-toggle="pill" data-bs-target="#pills-m" type="button" role="tab" aria-controls="pills-m" aria-selected="true">M</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-t-tab" data-bs-toggle="pill" data-bs-target="#pills-t" type="button" role="tab" aria-controls="pills-t" aria-selected="false">T</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-w-tab" data-bs-toggle="pill" data-bs-target="#pills-w" type="button" role="tab" aria-controls="pills-w" aria-selected="false">W</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-th-tab" data-bs-toggle="pill" data-bs-target="#pills-th" type="button" role="tab" aria-controls="pills-th" aria-selected="true">T</button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-f-tab" data-bs-toggle="pill" data-bs-target="#pills-f" type="button" role="tab" aria-controls="pills-f" aria-selected="false">F</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-s-tab" data-bs-toggle="pill" data-bs-target="#pills-s" type="button" role="tab" aria-controls="pills-s" aria-selected="false">S</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-su-tab" data-bs-toggle="pill" data-bs-target="#pills-su" type="button" role="tab" aria-controls="pills-su" aria-selected="true">S</button>
                  </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-m" role="tabpanel" aria-labelledby="pills-m-tab" tabindex="0">

                    <div class="row mt-5 mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow "  style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4 rounded-start">
                                    <img src="../../assets/a.jpg" class="img-fluid " alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/e.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/f.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-t" role="tabpanel" aria-labelledby="pills-t-tab" tabindex="0">

                    <div class="row mt-5  mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/a.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow" style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/c.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/d.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-w" role="tabpanel" aria-labelledby="pills-w-tab" tabindex="0">
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/e.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/f.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-t" role="tabpanel" aria-labelledby="pills-t-tab" tabindex="0">

                    <div class="row mt-5  mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/a.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow" style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                    <div class="row mt-5 mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/c.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/d.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                    </div>

                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/e.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/f.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="pills-t" role="tabpanel" aria-labelledby="pills-t-tab" tabindex="0">

                    <div class="row mt-5  mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/a.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow" style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/c.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/d.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="pills-th" role="tabpanel" aria-labelledby="pills-th-tab" tabindex="0">
                    <div class="row mt-5 mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow "  style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4 rounded-start">
                                    <img src="../../assets/a.jpg" class="img-fluid " alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/c.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/d.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                    </div>
                       

                </div>

                <div class="tab-pane fade" id="pills-f" role="tabpanel" aria-labelledby="pills-t-tab" tabindex="0">

                    <div class="row mt-5 mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/c.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/d.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                    </div>
                       
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/e.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/f.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                    <div class="row  mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/a.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow" style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                </div>
                <div class="tab-pane fade" id="pills-s" role="tabpanel" aria-labelledby="pills-w-tab" tabindex="0">
                    <div class="row mt-5 mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/c.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/d.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                    </div>
                       
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/e.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/f.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                    <div class="row  mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/a.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow" style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       

                </div>
                <div class="tab-pane fade" id="pills-su" role="tabpanel" aria-labelledby="pills-su-tab" tabindex="0">
                    <div class="row mt-5 mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow "  style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4 rounded-start">
                                    <img src="../../assets/a.jpg" class="img-fluid " alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/c.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/d.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>    
                        </div>
                    </div>
                       
                    <div class="row mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/e.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/f.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                       
                    <div class="row  mx-auto">
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/a.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                      <h5 class="card-title">Fitness Class Name #1</h5>
                                      <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div >
                                </div>
                              </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card mb-3 shadow" style="max-width: 540px; height: 100px;">
                                <div class="row g-0">
                                  <div class="col-6 col-md-4">
                                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-6 col-md-8">
                                    <div class="card-body mx-0">
                                        <h5 class="card-title">Fitness Class Name #2</h5>
                                        <p class="card-text">By Justin Daniel 30 minutes</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>

    </div>

</div>
</section>
