<section class="dessous-nav" id="dessous-nav">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="justify-content-center align-items-center ">
          <h1 class="text-center">Fitness Help Me Feel Better</h1>
          <p class="text-center"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
          <p class="text-center">  pariatur voluptates quis laborum tempore!</p>
          <div class="text-center my-5">
            <button class="btn btne">GET STARTED</button>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
