.dessous-nav{
width: 100%;
height: 600px;
background-color: gray;
color: white;
position: relative;
top: 70px;
padding: 200px 0;
}
.dessous-nav h1{
    font-size: 70px;
    font-weight: 700;   
}
.dessous-nav p{
    font-size: 24px;
}
.dessous-nav .btne{
border: 2px solid white;
color: white;
padding: 10px 30px;
font-weight: 600;
}



@media (max-width: 400px) {
    .dessous-nav{
        width: 100%;
        height: 700px;
        background-color: gray;
        color: white;
        position: relative;
        top: 70px;
        padding: 150px 0;
        } 
    .dessous-nav h1{
        font-size: 50px;
        font-weight: 700;   
    }
    .dessous-nav p{
        font-size: 19px;
    }
    .dessous-nav .btne{
    border: 2px solid white;
    color: white;
    padding: 5px 20px;
    font-weight: 600;
    }
}
@media (max-width: 575.98px) {
    .dessous-nav h1{
        font-size: 50px;
        font-weight: 700;   
    }
    .dessous-nav p{
        font-size: 19px;
    }
    .dessous-nav .btne{
    border: 2px solid white;
    color: white;
    padding: 5px 20px;
    font-weight: 600;
    }
}


@media (max-width: 767.98px) { }


@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) {  }