.navbar-toggler{
    display: none;
}
.menue .navbar-nav{
    display: flex;
    flex-direction: row;
    padding: 0 100px;
}
.menue{
    display: block;
    
}
.menue .nav-item{
    padding: 0 20px;
   
}
.menue .nav-item .nav-link{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.navbar{
    background-color: gray;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

  .menue .nav-item {
    margin: 0 10px;
  }
  .menue .nav-item .nav-link {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: inline-block;
  }
  
  .menue .nav-item .nav-link::after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s;
    bottom: 0;
  }
  .menue .nav-item .nav-link.active::after,
  .menue .nav-item .nav-link:hover:after {
    width: 100%;
  }
  .menue .nav-item .nav-link.nav-link.active,
  .menue .nav-item .nav-link:hover::after {
    color: white;
  }
  
  .header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(1, 65, 41, 0.993),
      rgb(4, 143, 90)
    );
    -webkit-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    -moz-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    -o-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
    box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  }
  
 












@media (max-width: 575.98px) {

 }


@media (max-width: 767.98px) { }


@media (max-width: 991.98px) {
    .navbar-toggler{
        display: block;
    }
    .menue{
        display: none;
    }
  }

@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) {  }