<nav class="navbar fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WORKOUT</a>
      <div class="menue">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Classes</a>
              </li> 
              <li class="nav-item">
                  <a class="nav-link" href="#">Schedule</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="#">Trainer</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="#">Services</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>      
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Classes</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="#">Schedule</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">Trainer</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>        
          </ul>
        </div>
      </div>
    </div>
  </nav>