.healthy{
    margin-top: 100px;

}
.healthy h1{
    color: rgb(241, 73, 73);
    font-weight: 700;
}
.healthy p{
    color: rgba(128, 128, 128, 0.644);
    font-size: 18px;
    font-weight: 500;

}
.healthy .tout{
    border: 1px solid black;
    width: 750px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.healthy .flexible {
    display: flex;
    justify-content: space-around;
  }
  .healthy .a {
    padding: 10px 10px 20px 10px;
    text-align: center;
    margin: 0 10px;
  
  

  }
  .healthy .a:hover{
       box-shadow: 0 0 10px 0 rgb(214, 212, 212); 
  }

  .healthy .b {
    
    padding: 10px 10px 20px 10px;
    text-align: center;
  }
  .healthy .b:hover{
    box-shadow: 0 0 10px 0 rgb(214, 212, 212); 
}

  .healthy .c {
   
    padding: 10px 10px 20px 10px;
    text-align: center;
  }
  .healthy .c:hover{
    box-shadow: 0 0 10px 0 rgb(214, 212, 212); 
}
.healthy img{
    margin-bottom: 50px;
}
.healthy p{
    font-size: 14px;
}

 