<section class="healthy" id="healthy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="justify-content align-items-center">
          <p class="text-center">Stay Healthy</p>
          <h1 class="text-center">Setup Your Body With Workout</h1>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
            amet consectetur,
          </p>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
            amet consectetur,
          </p>
        </div>
      </div>

      <!-- carrousel -->

      <div class="col-12">
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <div
                id="carouselExampleDark"
                class="carousel carousel-dark slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                 
                </div>

                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="2000">
                    <div class="flexible">
                      <div class="a">
                        <img
                          src="../../assets/des-legumes.png"
                          alt="kalika"
                        
                        />

                        <h5>Magnam ab eius</h5>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Reiciendis, delectus!
                        </p>
                      </div>

                      <div class="b">
                        <img
                          src="../../assets/du-jus-dorange.png"
                          alt="Dieynaba"
                         
                        />

                        <h5>Magnam ab eius</h5>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Reiciendis, delectus!
                        </p>
                      </div>
                      <div class="c">
                        <img
                          src="../../assets/sport.png"
                        
                          alt="tati"
                        />
                        <h5>Magnam ab eius</h5>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Reiciendis, delectus!
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="carousel-item" data-bs-interval="2000">
                    <div class="flexible">
                      <div class="a">
                        <img
                          src="../../assets/velo-stationnaire.png"
                          alt="kalika"
                        
                        />

                        <h5>Magnam ab eius</h5>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Reiciendis, delectus!
                        </p>
                      </div>

                      <div class="b">
                        <img
                          src="../../assets/du-jus-dorange.png"
                          alt="Dieynaba"
                        />
                        <h5>Magnam ab eius</h5>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Reiciendis, delectus!
                        </p>
                      </div>
                      <div class="c">
                        <img
                          src="../../assets/des-legumes.png"
                        
                          alt="tati"
                        />

                        <h5>Magnam ab eius</h5>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing
                          elit. Reiciendis, delectus!
                        </p>
                      </div>
                    </div>
                  </div>

                 
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleDark"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleDark"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
