.trainer{
    margin-top: 100px;

}
.trainer h1{
    color: rgb(241, 73, 73);
    font-weight: 700;
}
.trainer p{
    color: rgba(128, 128, 128, 0.644);
    font-size: 18px;
    font-weight: 500;
}
.trainer img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trainer .imge{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trainer .card{
    border: none;
  
}
.trainer .card-body{
   text-align: center;
  
}




@media (max-width: 400px) {
   
}
@media (max-width: 575.98px) {
.trainer .card{
    margin: 30px auto;
}
}