<section class="trainer" id="trainer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="justify-content align-items-center">
          <p class="text-center">Trainer</p>
          <h1 class="text-center">Our Trainers</h1>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
            amet consectetur,
          </p>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
            amet consectetur,
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
            <div class="imge">
                <img src="../../assets/k.jpg" class="card-img-top" alt="..." />
            </div> 
          <div class="card-body">
            <h5 class="card-title">Mark Sall</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
            <div class="imge">
                <img src="../../assets/c.jpg" class="card-img-top" alt="..." />
            </div>         
          <div class="card-body">
            <h5 class="card-title">Justin tine</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
     
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
            <div class="imge">
                <img src="../../assets/d.jpg" class="card-img-top" alt="..." />
            </div>
          <div class="card-body">
            <h5 class="card-title">Mason mount</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
           
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem">
            <div class="imge">
                <img src="../../assets/l.jpg" class="card-img-top" alt="..." />
            </div>
        
          <div class="card-body">
            <h5 class="card-title">marche </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
