<app-navbar></app-navbar>
<app-dessous-navbar></app-dessous-navbar>
<app-healthy></app-healthy>
<app-classes></app-classes>
<app-fitness></app-fitness>
<app-count></app-count>
<app-schudule></app-schudule>
<app-partener></app-partener>
<app-trainers></app-trainers>
<app-services></app-services>
<app-forme></app-forme>
<app-footer></app-footer>