.partener{
    margin-top: 100px;
}
.partener .img-background{
    margin-top: 0;
    background-image: 
      url("../../assets/f.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
    z-index: -1;
}
.partener .tout{
    margin-top: 200px;
}
.partener h1{
    color: white;
}
.partener p{
    color: rgba(128, 128, 128, 0.801);
    font-size: 18px;
    font-weight: 500;
}