<section class="service" id="service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="justify-content align-items-center">
            <p class="text-center">Fiteness Services</p>
            <h1 class="text-center">Services</h1>
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
              amet consectetur,
            </p>
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
              amet consectetur,
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
       
        <div class="card-group">
            <div class="card">
                <div class="imge">
                    <img src="../../assets/du-jus-dorange.png" class="" alt="..." width="64px" height="64px">
                </div>
           
              <div class="card-body">
                <h5 class="card-title">Gym Fitness</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              
            </div>
            <div class="card">
                <div class="imge">
                    <img src="../../assets/des-legumes.png" class="" alt="..." width="64px" height="64px">
                </div>
              
              <div class="card-body">
                <h5 class="card-title">join Club</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              
            </div>
            <div class="card">
                <div class="imge">
                    <img src="../../assets/velo-stationnaire.png" class="" alt="..." width="64px" height="64px"> 
                </div>
             
              <div class="card-body">
                <h5 class="card-title">Be Fit</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
             
            </div>
          </div>
        
      </div>

      <div class="row mt-5">
       
        <div class="card-group">
            <div class="card">
                <div class="imge">
                    <img src="../../assets/du-jus-dorange.png" class="" alt="..." width="64px" height="64px">
                </div>
           
              <div class="card-body">
                <h5 class="card-title">Gym Fitness</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              
            </div>
            <div class="card">
                <div class="imge">
                    <img src="../../assets/sport.png" class="" alt="..." width="64px" height="64px">
                </div>
              
              <div class="card-body">
                <h5 class="card-title">join Club</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              
            </div>
            <div class="card">
                <div class="imge">
                    <img src="../../assets/des-legumes.png" class="" alt="..." width="64px" height="64px"> 
                </div>
             
              <div class="card-body">
                <h5 class="card-title">Be Fit</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
             
            </div>
          </div>
        
      </div>
      </div>
      </section>
