.service{
    margin-top: 100px;

}
.service h1{
    color: rgb(241, 73, 73);
    font-weight: 700;
}
.service p{
    color: rgba(128, 128, 128, 0.644);
    font-size: 18px;
    font-weight: 500;
}
.service .imge{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.service .card{
    border: none;
}
.service .card-body{
    text-align: center;
}