.fitness{
    margin-top: 100px;

}
.fitness h1{
    color: rgb(241, 73, 73);
    font-weight: 700;
}
.fitness p{
    color: rgba(128, 128, 128, 0.644);
    font-size: 18px;
    font-weight: 500;
}
img{
    width: 50%;
    height: 99px;
}
.fitness h5{
    font-size: 20px;
 }
 .fitness .card{
    border: none;
 }
  
 



/* @media (max-width: 400px) {
   
} */
@media (max-width: 575.98px) {
    .fitness h5{
       font-size: 16px;
    }
    .fitness p{
        color: rgba(128, 128, 128, 0.644);
        font-size: 14px;
        font-weight: 500;
    }
   
     
    
    
}


