<section class="fitness" id="fitness">
   <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="justify-content align-items-center">
                <p class="text-center">Fitness Class</p>
                <h1 class="text-center">Setup Your Body With Workout</h1>
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                  amet consectetur,
                </p>
                <p class="text-center">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero
                  amet consectetur,
                </p>
              </div>
        </div>
    </div>
        
    <div class="row mt-5 mx-auto">
        <div class="col-12 col-lg-6">
            <div class="card mb-3 shadow "  style="max-width: 540px;height: 100px;">
                <div class="row g-0">
                  <div class="col-6 col-md-4 rounded-start">
                    <img src="../../assets/a.jpg" class="img-fluid " alt="...">
                  </div>
                  <div class="col-6 col-md-8">
                    <div class="card-body mx-0">
                      <h5 class="card-title">Fitness Class Name #1</h5>
                      <p class="card-text">By Justin Daniel 30 minutes</p>
                    </div>
                  </div >
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                <div class="row g-0">
                  <div class="col-6 col-md-4">
                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-6 col-md-8">
                    <div class="card-body mx-0">
                        <h5 class="card-title">Fitness Class Name #2</h5>
                        <p class="card-text">By Justin Daniel 30 minutes</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
       

    <div class="row mx-auto">
        <div class="col-12 col-lg-6">
            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                <div class="row g-0">
                  <div class="col-6 col-md-4">
                    <img src="../../assets/c.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-6 col-md-8">
                    <div class="card-body mx-0">
                      <h5 class="card-title">Fitness Class Name #1</h5>
                      <p class="card-text">By Justin Daniel 30 minutes</p>
                    </div>
                  </div >
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                <div class="row g-0">
                  <div class="col-6 col-md-4">
                    <img src="../../assets/d.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-6 col-md-8">
                    <div class="card-body mx-0">
                        <h5 class="card-title">Fitness Class Name #2</h5>
                        <p class="card-text">By Justin Daniel 30 minutes</p>
                    </div>
                  </div>
                </div>
              </div>    
        </div>
    </div>
       
    <div class="row mx-auto">
        <div class="col-12 col-lg-6">
            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                <div class="row g-0">
                  <div class="col-6 col-md-4">
                    <img src="../../assets/e.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-6 col-md-8">
                    <div class="card-body mx-0">
                      <h5 class="card-title">Fitness Class Name #1</h5>
                      <p class="card-text">By Justin Daniel 30 minutes</p>
                    </div>
                  </div >
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-3 shadow " style="max-width: 540px; height: 100px;">
                <div class="row g-0">
                  <div class="col-6 col-md-4">
                    <img src="../../assets/f.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-6 col-md-8">
                    <div class="card-body mx-0">
                        <h5 class="card-title">Fitness Class Name #2</h5>
                        <p class="card-text">By Justin Daniel 30 minutes</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
       
    <div class="row  mx-auto">
        <div class="col-12 col-lg-6">
            <div class="card mb-3 shadow " style="max-width: 540px;height: 100px;">
                <div class="row g-0">
                  <div class="col-6 col-md-4">
                    <img src="../../assets/a.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-6 col-md-8">
                    <div class="card-body mx-0">
                      <h5 class="card-title">Fitness Class Name #1</h5>
                      <p class="card-text">By Justin Daniel 30 minutes</p>
                    </div>
                  </div >
                </div>
              </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-3 shadow" style="max-width: 540px; height: 100px;">
                <div class="row g-0">
                  <div class="col-6 col-md-4">
                    <img src="../../assets/b.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-6 col-md-8">
                    <div class="card-body mx-0">
                        <h5 class="card-title">Fitness Class Name #2</h5>
                        <p class="card-text">By Justin Daniel 30 minutes</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
       


 

   </div> 

</section>
