<Section class="classes" id="classes">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 img-background">
                <div class="justify-content-center align-items-center tout ">
                    <h1 class="text-center">Get The Resultay You Want</h1>
                    <p class="text-center"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                    <p class="text-center">  pariatur voluptates quis laborum tempore!</p>
                    </div>
            </div>

        </div>

    </div>

</Section>
